@media(max-width:1440px) {}

@media(max-width:1320px) {}

@media(max-width:1190px) {
  .main__text{
    text-align: center;
  }
}

@media(max-width:1140px) {
  .about__text{
    text-align: justify;
  }
  .cards__content{
    flex-direction: column;
  }
}

@media(max-width:1024px) {}

@media(max-width:992px) {
  .main__content{
    flex-direction: column;
    align-items: center;
  }
  .center{
    flex-direction: column;
  }
  .reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .about__img{
    position: relative;
    margin: 88px 0;
  }
  .about__img::before{
    content: "";
    width: 61px;
    transform: rotate(90deg);
    border: 1px solid #fff;
    position: absolute;
    top: -10%;
    left: 50%;
  }
  .about__img::after{
    content: "";
    width: 61px;
    transform: rotate(90deg);
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 110%;
  }
  .header__content__item{
    width: 65%;
    justify-content: space-between;
  }
  .info__title{
    font-size: 80px;
    line-height: 65px;
  }
  .info__link{
    /* padding: 10px 0 10px 10px; */
    color: #171718;
    font-size: 16px;
    line-height: 20px;
  }
  .info__link span::before{
    padding-right: 10px;
  }
  .main__content{
    margin-top: 15px;
  }
  .main__text{
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 30px;
  }
  .about__text{
    font-size: 18px;
    line-height: 120%;
    font-family: var(--MR);
  }
}

@media(max-width:768px) {
  .logo__img{
    width: 85px;
  }
  .nav__link{
    font-size: 18px;
    line-height: 120%;
  }
  .form__control a span::before{
    font-size: 18px;
    line-height: 18px;
  }
  .search__icon{
    margin-right: 20px;
  }
  .header__info{
    height: 500px;
  }
  .info__title{
    font-size: 60px;
    line-height: 45px;
  }
  .info__link{
    padding: 5px 0 5px 5px;
    color: #171718;
    font-size: 14px;
    line-height: 17px;
    width: 160px;
  }
  .info__link span::before{
    padding-right: 10px;
  }
  .about{
    margin: 30px 0;
  }
}

@media(max-width:736px) {
  .main__content__item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__img{
    width: 70%;
}

@media(max-width:734px) {}

@media(max-width:684px) {
  .logo__img{
    width: 75px;
  }
  .nav__link{
    font-size: 16px;
    line-height: 120%;
  }
  .form__control a span::before{
    font-size: 16px;
    line-height: 16px;
  }
  .search__icon{
    margin-right: 15px;
  }
}

@media(max-width:667px) {
  .main__content__item:not(:last-child){
    margin-right: 0;
  }
}

@media(max-width:576px) {
  .header__content{
    justify-content: space-between;
  }
  .form__control{
    margin: 0;
  }
  .info__title{
    font-size: 45px;
    line-height: 30px;
  }
  .cards{
    margin: 15px 0;
  }
  .card__img img{
    width: 60%;
  }
  .footer{
    padding: 20px 0;
  }
  .nav{
    gap: 20px;
  }
  .nav__link{
    margin-left: 0;
  }
  .footer__nav .nav__link{
    font-size: 14px;
    line-height: 120%;
  }
  .footer__content{
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .card{
    width: 200px;
  }
  .card__title{
    font-size: 16px;
    line-height: 20px;
  }
  .card__price{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .card__link{
    font-size: 12px;
    line-height: 120%;
    font-family: var(--MR);
  }
  .main__text{
    font-size: 16px;
    line-height: 120%;
  }
  .about__text{
    font-size: 14px;
    line-height: 120%;
    text-align: center;
  }
  .about__img{
    margin: 65px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__img img{
    margin: 10px 0;
    width: 70%;
  }
  .about__img::before{
    top: -10%;
    left: 50%;
  }
  .about__img::after{
    left: 50%;
    top: 110%;
  }
  .about__img::before,
  .about__img::after{
    width: 45px;
  }
}

@media(max-width:414px) {
  .about{
    margin: 15px 0;
  }
  .cards__content{
    gap: 15px;
  }
  .card__group{
    flex-direction: column;
    gap: 15px;
  }
  .logo__img{
    width: 60px;
  }
  .form__control a span::before{
    font-size: 14px;
    line-height: 14px;
  }
  .search__icon{
    margin-right: 5px;
  }
  .header__info{
    height: 380px;
  }
  .info__title{
    font-size: 40px;
    line-height: 25px;
  }
  .info__link{
    font-size: 14px;
    line-height: 16px;
  }
  .nav{
    display: none;
  }
  .main__text{
    margin: 15px 0;
  }
  
  .footer{
    padding: 10px 0;
  }
  .about__img{
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  .about__img img{
    width: 55%;
    margin: 10px 0;
  }
}

@media(max-width:412px) {
  .main__text{
    font-size: 14px;
    line-height: 120%;
  }
  .about__text{
    font-size: 12px;
    line-height: 120%;
  }
  .about__img img{
    width: 50%;
    margin: 10px 0;
  }
  .about__img::before{
    content: "";
    width: 61px;
    transform: rotate(90deg);
    border: 1px solid #fff;
    position: absolute;
    top: -10%;
    left: 50%;
  }
  .about__img::after{
    content: "";
    width: 61px;
    transform: rotate(90deg);
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 110%;
  }
  .about__img::before,
  .about__img::after{
    width: 25px;
  }
  .footer__content{
    gap: 15px;
  }
  .visa{
    margin-right: 15px;
  }
  .transactions a span::before{
    font-size: 30px;
  }
}

@media(max-width:375px) {
  .main__text{
    font-size: 12px;
    line-height: 120%;
  }
  .card__title{
    font-size: 14px;
    line-height: 120%;
  }
}

@media(max-width:360px) {
  .info__title{
    font-size: 30px;
    line-height: 120%;
  }
}
.card__price{
  font-size: 10px;
  line-height: 120%;
}
.card__link{
  font-size: 10px;
  line-height: 120%;
  padding: 7px 30px;
}
@media(max-width:320px) {
}

@media(max-width:280px){}